@charset "UTF-8";
/* *{outline:1px solid red;} */
*{box-sizing: border-box;}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,
ol,p,select,table,td,textarea,th,ul{
margin:0;padding:0;}
body{
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Playfair Display', serif;
}
ul 	{list-style: none; padding:0; margin:0;}
a 	{text-decoration: none; color:inherit;}
img {max-width: 100%;	vertical-align: top;}